<h1>ngFor Objects</h1>

<div>
<div *ngFor="let product of products">
  <img width="250" [src]="product.image" alt="image">
  <h2>{{product.price}}</h2>
  <p>{{product.name}}</p>

</div>

</div>

<hr/>
<h1>ngFor</h1>
<input type="text" required [(ngModel)]="newName" >

<button (click)="addName()">Add Name</button>
<ul>
  <li *ngIf="names.length===0">No hay nombres</li>
  <li *ngFor="let name of names; index as i">
   {{i}} {{name}}
   <button (click)="deleteName(i)">Delete</button>
  </li>
</ul>

<hr/>
<h1>ngIf</h1>
<input type="text" required [(ngModel)]="person.name" >

<p *ngIf="person.name=== 'Nicolas'">Soy Nicolas</p>
<p *ngIf="person.name=== 'Julian' && person.age===18; else myBlock"; >Soy Julian</p>
<ng-template #myBlock>
  <p>Bloque de else</p>

  <ng-template/>

<hr/>
<h1>NgModel</h1>
<p>Nombre {{person.name}}</p>
<input type="text" required #nameInput="ngModel" [(ngModel)]="person.name" >
<p>Valid: {{nameInput.valid}}</p>
<p>Age {{person.age}}</p>

<input type="number" max="18" min="10" required #ageInput="ngModel" [(ngModel)]="person.age" >
<p>Valid: {{ageInput.valid}}</p>



<hr/>
<h1>Eventos</h1>
<button [disabled]="btnState">Enviar</button>
<button (click)="toggleButton()">Toggle Button</button>
<p>edad {{person.age}} </p>
<button (click)="addAge()" >Add age</button>
<button (click)="restAge()" >Rest age</button>
<div class="box"(scroll)="onScroll($event)">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam tenetur cum quia! Sit pariatur ratione quasi, eius accusantium maiores officia delectus molestias id temporibus, sed cum quas tempore? Velit, veritatis? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam iure, sed commodi dicta exercitationem dolores velit, eius earum rerum repellat in! Omnis eius facere vitae maiores eum ipsa ipsum consectetur?</p>
</div>
<h1>Propiedades</h1>
<button [disabled]="btnState" >Enviar</button>
<input type="text" [value]="person.name">
<progress max="100" [value]="person.age"></progress>
<img [src]="person.avatar" width="100px" height="100px" alt="random image">
<h1>HOLA mundo</h1>
<h2>{{'hola mundo'.repeat(5)}} </h2>
<p>3+3={{3+3}}</p>
<h3>Soy {{name}}, y tengo {{age}}</h3>
<img src={{img}} width="100px" height="100px" alt="random image">
