<input type="text" [(ngModel)]="imgParent">

<app-img (loaded)="onLoaded($event)" [img]="imgParent"></app-img>

<hr/>
<div class="form-container">
  <h1>My Account</h1>
  <form (ngSubmit)="onRegister()" #myForm="ngForm">
    <div class="input-group">
      <label for="name">Name</label>
      <input
        type="text"
        id="name"
        required
        [(ngModel)]="register.name"
        name="name"
      />
      <p
        class="form-error-msg"
        [ngClass]="{
          valid: register.name !== '',
          invalid: register.name === ''
        }"
      >
        Invalid or no data entered
      </p>
      <label for="email">Email</label>
      <input
        type="email"
        id="email"
        required
        [(ngModel)]="register.email"
        name="email"
        pattern="^[^@]+@[^@]+\.[a-zA-Z]{2,}$"
        
      />
      <p
        class="form-error-msg"
        [ngClass]="{
          valid: register.email !== '',
          invalid: register.email === '',
        }"
      >
        Invalid or no data entered
      </p>
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        required
        [(ngModel)]="register.password"
        name="password"
      />
      <p
        class="form-error-msg"
        [ngClass]="{
          valid: register.password !== '',
          invalid: register.password === ''
        }"
      >
        Invalid or no data entered
      </p>
    </div>
    <button
      type="submit"
      [disabled]="myForm.invalid"
      [class.invalid]="myForm.invalid"
    >
      Register
    </button>
  </form>
</div>

<hr/>
<h1>ngClass and ngStyle</h1>
<input type="text" required #nameInput4="ngModel"[(ngModel)]="person.name"/>
<hr class="line-error" [ngClass]="{
  'valid':nameInput4.valid,
  'invalid':nameInput4.invalid
}"/>
<p class="message-error" [class.invalid]="nameInput4.invalid">El campo es requerido</p>
<div class="styles">
  <div>
    <input type="number" [(ngModel)]="box.width" />
    <input type="number" [(ngModel)]="box.height" />
    <input type="color" [(ngModel)]="box.background" />
  </div>
  <div>
    <div [ngStyle]="{
      'width.px': box.width,
      'height.px': box.height,
      'background-color': box.background,
      'display': 'block'
    }"></div>
  </div>
</div>


<hr/>
<h1>Class and Style</h1>
<input type="text" required #nameInput2="ngModel"[(ngModel)]="person.name"/>
<p class="message-error" [class.invalid]="nameInput2.invalid">El campo es requerido</p>
<label>Nombre</label>
<input type="text" required #nameInput3="ngModel"[(ngModel)]="person.name"/>
<p [style.font-style]="nameInput3.invalid ? 'italic': 'normal'">Texto texto texto</p>
<div class="styles">
  <div>
    <input type="text"[(ngModel)]="widthImg"/>
    <div>
      <img [style.width.%]="widthImg" [src]="person.avatar"></div>

  </div>
</div>

<hr/>
<h1>ngFor Objects</h1>

<div class="products--grid">
<div *ngFor="let product of products">
  <img width="250" [src]="product.image" alt="image">
  <h2>{{product.price}}</h2>
  <p>{{product.name}}</p>

</div>

</div>

<hr/>
<h1>ngFor</h1>
<input type="text" required [(ngModel)]="newName" >

<button (click)="addName()">Add Name</button>
<ul>
  <li *ngIf="names.length===0">No hay nombres</li>
  <li *ngFor="let name of names; index as i">
   {{i}} {{name}}
   <button (click)="deleteName(i)">Delete</button>
  </li>
</ul>

<hr/>
<h1>ngIf</h1>
<input type="text" required [(ngModel)]="person.name" >

<p *ngIf="person.name=== 'Nicolas'">Soy Nicolas</p>
<p *ngIf="person.name=== 'Julian' && person.age===18; else myBlock"; >Soy Julian</p>
<ng-template #myBlock>
  <p>Bloque de else</p>

  <ng-template/>

<hr/>
<h1>NgModel</h1>
<p>Nombre {{person.name}}</p>
<input type="text" required #nameInput="ngModel" [(ngModel)]="person.name" >
<p>Valid: {{nameInput.valid}}</p>
<p>Age {{person.age}}</p>

<input type="number" max="18" min="10" required #ageInput="ngModel" [(ngModel)]="person.age" >
<p>Valid: {{ageInput.valid}}</p>



<hr/>
<h1>Eventos</h1>
<button [disabled]="btnState">Enviar</button>
<button (click)="toggleButton()">Toggle Button</button>
<p>edad {{person.age}} </p>
<button (click)="addAge()" >Add age</button>
<button (click)="restAge()" >Rest age</button>
<div class="box"(scroll)="onScroll($event)">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam tenetur cum quia! Sit pariatur ratione quasi, eius accusantium maiores officia delectus molestias id temporibus, sed cum quas tempore? Velit, veritatis? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam iure, sed commodi dicta exercitationem dolores velit, eius earum rerum repellat in! Omnis eius facere vitae maiores eum ipsa ipsum consectetur?</p>
</div>
<h1>Propiedades</h1>
<button [disabled]="btnState" >Enviar</button>
<input type="text" [value]="person.name">
<progress max="100" [value]="person.age"></progress>
<img [src]="person.avatar" width="100px" height="100px" alt="random image">
<h1>HOLA mundo</h1>
<h2>{{'hola mundo'.repeat(5)}} </h2>
<p>3+3={{3+3}}</p>
<h3>Soy {{name}}, y tengo {{age}}</h3>
<img src={{img}} width="100px" height="100px" alt="random image">
